section{
    background-image: url(../img/Fundo_PedidosEmDev.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* previne overflow horizontal */
}
.caixa {
    flex: 1 1 250px; /* flexível, mas com tamanho mínimo */
    height: 100px;
    border-radius: 20px;
    box-shadow: -12px 15px 9.8px -4px #112721;
    background-color: var(--cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.caixa:hover {
    background-color: var(--cor-verde);
    cursor: pointer;
}

h1 {
    font-family: var(--fonte_titulo);
    color: var(--cor-branca);
    font-size: 64px;
    margin: 0px;
    margin-bottom: 35px;
}

.container {
    width: calc(100% - 180px); /* ajusta considerando as margens */
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    margin: 0 auto; /* centraliza e evita overflow */
}