*{
    --cor-verde:  #18352D;
    --cor-branca: #D0D6B3;
    --cor-amarelo: #E3C567;
    --cor-verde-claro: #058C42;
    --fonte_titulo:  Poppins;
}
h1{
    font-family: var(--fonte_titulo);
    color: var(--cor-branca);
    font-size: 64px;
    
}